@import '../../_styles/colors';

.main-menu {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $primary;
  border-bottom: 1px solid $shadow;
  box-shadow: 0 1px 2px 0 $shadow;

  img {
    height: 4rem;
    margin: 0 2rem;
    cursor: pointer;
  }

  nav {
    display: flex;

    a {
      position: relative;
      display: block;
      padding: 2.2rem 2.4rem;
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      opacity: 0.5;

      &:hover {
        opacity: 0.7;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}
