$primary-color: #002548;
$text-color: #181616;
$disabled-color: #eeeeee;

$shadow: rgba(34, 36, 38, 0.15);
$white-transparent: rgba(255, 255, 255, 0.2);

$grey: #999fa3;
$grey-dark: #56585c;
$grey-light: #ebeced;
$red: #e45f55;
$red-light: #fceaea;
$green: #24c289;
$orange: #ed8f21;
$orange: orange;
$white: #ffffff;

@function darkenOnHover($color) {
  @return darken($color, 15%);
}
