$text-color: #181616;

$shadow: rgba(34, 36, 38, 0.15);
$white-transparent: rgba(255, 255, 255, 0.2);

$blue-dark: #002548;
$grey: #999fa3;
$dark-grey: #56585c;
$red: #e45f55;
$green: #24c289;
$orange: #ed8f21;
$orange: orange;
$white: #ffffff;

$primary: $blue-dark;
