$primary-color: #00cec7;
$text-color: #181616;
$disabled-color: #eeeeee;
$placeholder-color: #b8bcbf;
$disabled-background-color: #eeeeee;
$error-background-color: #fff6f6;
$error-border-color: #e0b4b4;
$error-placeholder-color: #e7bdbc;

$shadow: rgba(34, 36, 38, 0.15);
$white-transparent: rgba(255, 255, 255, 0.2);

$grey: #999fa3;
$grey-dark: #4f4f4f;
$grey-light: #ebeced;
$red: #e45f55;
$red-light: #fceaea;
$green: #24c289;
$orange: #ed8f21;
$orange: orange;
$white: #ffffff;

@function darkenOnHover($color) {
  @return darken($color, 15%);
}
