main {
  margin-top: 6.4rem;

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.5rem;
    }
    .input-wrapper,
    .dropdown-wrapper {
      margin-bottom: 2rem;
    }

    div[role='group'] {
      display: flex;
      flex-wrap: wrap;
      .input-wrapper:first-of-type {
        margin-right: 2rem;
      }
    }

    .actions {
      margin-top: 2rem;
      display: flex;
    }
  }
}
