@import './colors';

main {
  a.go-back {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 2rem;
  }

  header {
    h1 {
      margin-bottom: 0;
    }
    .timestamps {
      margin-top: 0.5rem;
      font-style: italic;
      color: $grey;
      font-size: 1.4rem;
    }
  }

  section {
    margin-top: 2rem;

    h2 {
      margin-bottom: 1rem;
    }

    &:not(:last-child):after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $shadow;
      margin: 3rem 0;
    }
  }
}
