main {
  h1 {
    margin-bottom: 2rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .header-group {
      display: flex;

      > :not(:first-child) {
        margin-left: 1.5rem;
      }
    }
  }
}
