@import '../../_styles/colors';
@import '../../_styles/constants';

$icon-height: 2.4rem;
$label-bottom-margin: 0.5rem;

.input-wrapper {
  label:not(:last-child) {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: $dark-grey;
  }

  &.error {
    .ui.checkbox label {
      color: $red;
    }
  }

  .error-message {
    padding-top: 1rem;
  }
}
