@import './_styles/colors';
@import './_styles/constants';

.toast-container {
  .toast {
    background-color: $primary-color;
    border-radius: $border-radius;
    color: $white;
    font-size: 1.4rem;
    font-family: $font-family;
    padding: 1.8rem;
    padding-right: 1rem;
    cursor: default;
    display: flex;
    align-items: center;

    .toast-body {
      padding-right: 1rem;
    }

    .icon {
      cursor: pointer;
      color: $white;
      height: 2.4rem;
    }
    &.Toastify__toast--error {
      background-color: $red;
    }
  }

  .toast-progress {
    background: $white-transparent;
  }
}
