@import '../../../_styles/constants';
@import '../inputWrapper';

.input-date-wrapper {
  position: relative;
  .ui.input > input {
    padding-right: 4rem;
  }

  .datepicker-icon {
    position: absolute;
    right: 1rem;
    height: $input-height;
    top: 0;

    & > * {
      color: $primary-color;
    }
  }

  &.has-label {
    .datepicker-icon {
      top: calc(#{$icon-height} + #{$label-bottom-margin});
    }
  }
}
