@import '../_styles/colors';

.auth {
  p {
    margin-bottom: 3rem;
    color: $dark-grey;
  }

  form {
    align-items: flex-start;

    .ui.button {
      margin-top: 2rem;
    }

    a {
      font-size: 1.4rem;
    }

    .guidelines {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      color: $grey;
    }
  }
}
